#root{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
#container{
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
}
#heading1{
  font-size: 3rem;
}